.navbar-container {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   padding: 0 20px;
}

.user-avatar {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-right: 8px;
}

.logo {
   object-fit: cover;
   width: 100%;
   height: 100%;
}
