.create-video-wrapper {
   h1 {
      font-weight: bold;
   }

   label {
      font-size: 2rem;
   }

   input,
   textarea {
      font-size: 1.8rem;
   }

   .btn.btn-primary {
      padding: 6px 12px;
      font-size: 1.8rem;
   }
}
